body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #689F38; 
}

#container {
    height: 95vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.road {
    background: #616161;
    min-width: 25%;
    height: 95vh;  
}

#line-container-1 {
    position: absolute;
    left: 37.5%;
    height: 95vh;
    min-width: 100%;
}

#line-container-2 {
    position: absolute;
    left: 62.5%;
    height: 95vh;
    min-width: 100%;
}

#st-line-1, #st-line-4 {
    top: -200px;
}

#st-line-2, #st-line-5 {
    top: 0px;
}

#st-line-3, #st-line-6 {
    top: 200px;
}

.line {
    height: 30vh;
    position: absolute;
    width: 1.5%;
    background: #FFF;
    opacity: 0.7;
}

#main-car {
    height: auto;
    width: 100px;
    position: absolute;
    bottom: 5%;
    left: 18.75%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: 1000ms;
}

img {
    height: 100%;
    width: 100%;
}

#car-truck, #car-van,
#car-truck-mini, #car-sedan {
    height: auto;
    width: 100px;
    top: -200px;
    position: absolute;
    display: flex;
    justify-content: center;
}
